body {
    background-color: rgb(255, 255, 255); /* hvit bakgrunnsfarge */
    font-family: Georgia, Times; /* Skriftype */
  }
 
    
  hr{
    border-color: rgb(233, 31, 31); /* Border farge */
  }
  
  a:hover {
    color: rgb(233, 31, 31); /* Fargen når man går over linker  */
    text-decoration-color: rgb(233, 31, 31); /* Fargen man får på linja under skriften */
  }

  h1 {
      font-family: Arial, sans-serif; /* Skrifttype */
      color:rgb(233, 31, 31); /* Fargen på h1 */
      margin: 50px auto; /* 50 px over elementet, auto midtstiller det */
      text-align: center; /* Får teksten i midten */
  }
  
  #div1 {
  width: 50%; /* bredde: 50 % av vinduet */
  border: 2px solid rgb(233, 31, 31); /* rød bakgrunnsfarge */
  padding: 10px; /* luft mellom kantlinjene og innholdet */
  margin: 100px auto; /* 100 px over elementet, auto midtstiller det */
  text-align: center; /* Får teksten i midten */
  }

  #div2 {
    width: 50%; /* bredde: 50 % av vinduet */
    border: 2px solid rgb(233, 31, 31); /* rød bakgrunnsfarge */
    padding: 10px; /* luft mellom kantlinjene og innholdet */
    margin: 100px auto; /* 1 px over elementet, auto midtstiller det */
    text-align: center; /* Får teksten i midten */
    }
  #div3 {
    text-align: center; /* Får teksten i midten */
  }
  #divlangtekst {
    line-height: 1.5; /* Linjeavstand */
    text-align: left; /* Får teksten til venstre */
  }

  p {
    width: 50%; /* bredde: 50 % av vinduet */
    border: 2px solid rgb(233, 31, 31); /* rød bakgrunnsfarge */
    padding: 10px; /* luft mellom kantlinjene og innholdet */
    margin: 100px auto; /* 100 px over elementet, auto midtstiller det */
    text-align: center; /* Får teksten i midten */
}
#img2 {
  background-color: rgb(0, 0, 128);
  padding: 10px; /* luft mellom kantlinjene og innholdet */
  margin: 100px auto; /* 100 px over elementet, auto midtstiller det */
  border-radius: 25px; /*Lager "smooth" hjørner, altså radiusen til firkanten */
  
}
#img2:hover{
  background-color: black; /* Bakgrunnsfarge */
}

/* #region main side */
#topp{
  display: grid;
  grid-template-columns: 10% 20% 55% 15%;
  gap: 10px;
  grid-template-rows: 115px;
  background-color: #aac9c6;

}
#topp > div {
  background-color: none;
  
}




#main {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  text-align: center;
}
#main > div {
  width: 300px;
  height: 100px;
  background-color: #aac9c6;
  border: 2px solid black;
}
/* #endregion*/