body {
    background-color: rgb(255, 255, 255); /* hvit bakgrunnsfarge */
    font-family: Georgia, Times; /* Skriftype */
  }
 
    
  hr{
    border-color: rgb(233, 31, 31); /* Border farge */
  }
  
  a:hover {
    color: rgb(233, 31, 31); /* Fargen når man går over linker  */
    text-decoration-color: rgb(233, 31, 31); /* Fargen man får på linja under skriften */
  }

  h1 {
      font-family: Arial, sans-serif; /* Skrifttype */
      color:rgb(233, 31, 31); /* Fargen på h1 */
      margin: 50px auto; /* 50 px over elementet, auto midtstiller det */
      text-align: center; /* Får teksten i midten */
  }
  
  #div1 {
  width: 50%; /* bredde: 50 % av vinduet */
  border: 2px solid rgb(233, 31, 31); /* rød bakgrunnsfarge */
  padding: 10px; /* luft mellom kantlinjene og innholdet */
  margin: 100px auto; /* 100 px over elementet, auto midtstiller det */
  text-align: center; /* Får teksten i midten */
  }

  #div2 {
    width: 50%; /* bredde: 50 % av vinduet */
    border: 2px solid rgb(233, 31, 31); /* rød bakgrunnsfarge */
    padding: 10px; /* luft mellom kantlinjene og innholdet */
    margin: 100px auto; /* 1 px over elementet, auto midtstiller det */
    text-align: center; /* Får teksten i midten */
    }
  #div3 {
    text-align: center; /* Får teksten i midten */
    
  }
  #divlangtekst {
    line-height: 1.5; /* Linjeavstand */
    text-align: left; /* Får teksten til venstre */
    width: 50%; /* bredde: 50 % av vinduet */
    border: 2px solid rgb(233, 31, 31); /* rød bakgrunnsfarge */
    padding: 10px; /* luft mellom kantlinjene og innholdet */
    margin: 100px auto; /* 1 px over elementet, auto midtstiller det */
  }

  p {
    width: 50%; /* bredde: 50 % av vinduet */
    border: 2px solid rgb(233, 31, 31); /* rød bakgrunnsfarge */
    padding: 10px; /* luft mellom kantlinjene og innholdet */
    margin: 100px auto; /* 100 px over elementet, auto midtstiller det */
    text-align: center; /* Får teksten i midten */
}
/* #region de tre gamemodesa */
#divimg {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  
   
}
#divimg > div{
  background-color: rgb(0, 0, 128);
  padding: 10px; /* luft mellom kantlinjene og innholdet */
  margin: 100px auto; /* 100 px over elementet, auto midtstiller det */
  border-radius: 25px; /*Lager "smooth" hjørner, altså radiusen til firkanten */
  border: 4px solid black;
}
#imghover:hover{
  background-color: black; /* Bakgrunnsfarge */ 
}


/* #endregion */

/* #region main side */
#topp{
  display: grid;
  grid-template-columns: 10% 25% 50% 15%;
  gap: 10px;
  grid-template-rows: 115px;
  background-color: #aac9c6;

}
#topp > div {
  background-color: none;
  
}

#main {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  text-align: center;
}
#main > div {
  width: 300px;
  height: 100px;
  background-color: rgba(145, 203, 207, 0);
  border: 2px solid black;
}
/* #endregion*/

#imgbattle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid rgb(233, 31, 31);
}

#toppboks {
  width: 50%; /* bredde: 50 % av vinduet */
  border: 2px solid rgb(233, 31, 31); /* rød bakgrunnsfarge */
  padding: 1px; /* luft mellom kantlinjene og innholdet */
  margin: 10px auto; /* 100 px over elementet, auto midtstiller det */
  text-align: center; /* Får teksten i midten */
  
}

#imgtopp {
  background-color: none;
}

/*#region Dropdown meny hovedside*/
.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: 2px solid rgb(233, 31, 31);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
/*#endregion*/